body {
  font-family: Helvetica, sans-serif;
  position: relative;
  padding-bottom: 40px; }

.wrapper {
  margin: 0 auto; }

.resume {
  width: 100%; }

header {
  text-transform: uppercase; }
  header h1 {
    color: #444;
    margin: 10px 0;
    font-size: 2.5em;
    text-align: center;
    font-family: 'Bad Script', cursive; }
  header a {
    text-decoration: none; }
  header h2 {
    color: #c71d3d;
    margin: 10px 0;
    font-size: 1em;
    font-weight: 100;
    text-align: center; }

.top_nav {
  text-align: center;
  background-color: rgba(45, 45, 45, 0.7);
  padding: 5px 0;
  margin-bottom: 20px; }
  .top_nav ul {
    padding: 0;
    max-width: 310px;
    margin: 0 auto; }
  .top_nav li {
    list-style: none;
    display: inline-block; }
    .top_nav li:last-child {
      border: none; }
      .top_nav li:last-child a {
        margin-right: 0; }
  .top_nav a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-weight: 100;
    padding: 5px 10px; }

.content {
  background-color: grey;
  margin: 0 auto 20px auto; }
  .content a {
    display: block;
    padding-top: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    color: #fff;
    font-weight: 100; }
    .content a span {
      display: block;
      background: rgba(45, 45, 45, 0.7);
      padding: 25px;
      position: absolute;
      bottom: 0;
      width: 100%;
      box-sizing: border-box; }
    .content a:hover span {
      bottom: 0; }

.box_1 {
  background-image: url(../img/handheld_mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px; }

.box_2 {
  background-image: url(../img/marvel_bg_02.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px; }

.intro {
  background-color: #fcfafa;
  padding: 2% 7.5%; }
  .intro p {
    color: #444;
    font-size: 1em;
    line-height: 1.5;
    font-weight: 100;
    max-width: 80%;
    margin: 20px auto; }
    .intro p:nth-child(2) {
      text-align: center;
      font-weight: bold; }
  .intro ul {
    padding-left: 0;
    text-align: center; }
  .intro li {
    display: inline-block;
    margin-right: 15px; }
    .intro li:last-child {
      margin-right: 0; }
  .intro img {
    height: 50px; }

.counter {
  background-image: url(../img/bucket_dude.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 10%; }

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px; }

.lower_nav {
  background-color: #f8f2f2;
  font-size: .75em;
  padding: 2% 0; }
  .lower_nav p {
    text-align: center; }

#footer_icons {
  padding: 0; }

@media screen and (min-width: 630px) {
  .wrapper {
    max-width: 80%; }

  header h1 {
    text-align: left; }
  header h2 {
    text-align: left;
    float: left; }

  .top_nav {
    float: right;
    background-color: #fff;
    margin-bottom: 0; }
    .top_nav a {
      color: #c71d3d;
      transition: box-shadow .3s, background-color .3s, color .3s;
      border: solid 1px #c71d3d;
      border-radius: 2px; }
      .top_nav a:hover {
        background-color: #c71d3d;
        color: #fff;
        box-shadow: 1px 8px 8px rgba(45, 45, 45, 0.3); }

  .content {
    float: left;
    width: 48%;
    margin-right: 4%;
    border-radius: 5px; }
    .content a span {
      bottom: -100px;
      transition: bottom 0.5s ease;
      border-radius: 0 0 5px 5px; }

  .box_2, .box_4, .box_6 {
    margin-right: 0; }

  #footer_icons ul {
    text-align: right;
    margin: 0;
    float: right;
    width: 50%;
    margin-top: 10px; } }
@media screen and (min-width: 1020px) {
  .wrapper {
    max-width: 900px; }

  header {
    margin-bottom: 20px; }
    header h1 {
      font-size: 3em;
      margin-bottom: 0; }

  .content {
    width: 31.3%;
    margin-right: 3%; }

  .box_2, .box_4, .box_6 {
    margin-right: 3%; }

  .box_3, .box_6 {
    margin-right: 0; }

  .intro {
    padding: 2% 10%; }
    .intro p {
      text-align: center;
      max-width: 900px; } }
@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(4deg); }
  50% {
    -webkit-transform: rotate(-4deg); }
  100% {
    -webkit-transform: rotate(4deg); } }
.wiggle:hover {
  -webkit-animation: wiggle 0.7s infinite; }

.resume {
  width: 100%;
  margin: 0px 0 20px 0; }

.contact_details {
  padding: 3%; }
  .contact_details h2 {
    font-weight: 100;
    text-transform: uppercase; }
  .contact_details h3 {
    font-weight: 100; }
  .contact_details ul {
    padding-left: 0;
    text-align: center;
    margin-top: 50px; }
  .contact_details li {
    display: inline-block;
    margin-right: 15px; }
    .contact_details li:last-child {
      margin-right: 0; }
  .contact_details img {
    height: 50px; }

@media screen and (min-width: 630px) {
  .contact_details {
    padding: 0; } }
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.wrapper {
  position: relative; }

#sccff_wrapper {
  margin: 0; }

.splash_img {
  width: 100%; }

.top_img {
  position: relative;
  top: -10px; }

.page_headline {
  background-color: #ffd06b;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: 100;
  font-size: 1.5em;
  padding: 10%;
  position: relative;
  margin: 30px 0 0 0;
  box-sizing: border-box;
  text-align: center; }

.project_intro {
  text-align: center;
  position: relative;
  font-weight: 100;
  margin-bottom: 50px; }
  .project_intro h2 {
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 50px; }
  .project_intro h3 {
    text-align: left;
    text-transform: uppercase;
    font-size: .9em;
    margin-bottom: 5px;
    margin-left: 10px; }
  .project_intro p {
    text-align: left;
    font-size: .9em;
    margin: 0 0 30px 20px;
    font-style: italic; }
  .project_intro ul {
    padding-left: 0;
    text-align: left;
    margin-left: 20px; }
    .project_intro ul:last-child {
      margin-top: 0; }
  .project_intro li {
    list-style: none;
    font-size: 0.8em; }
  .project_intro nav {
    margin-bottom: 30px; }
  .project_intro a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 100;
    padding: 10px 0px;
    display: block;
    margin: 10px 35px;
    border: solid 1px #444; }

.scope {
  text-align: center; }

.ui p {
  margin-bottom: 10px; }

.discovery {
  font-weight: 100;
  margin-bottom: 50px; }
  .discovery h2 {
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em; }
  .discovery a {
    text-align: left;
    font-size: 1em;
    margin-bottom: 5px; }
  .discovery p {
    margin-top: 0;
    line-height: 1.5;
    padding: 3%;
    font-size: 0.8em; }

#outer_list {
  padding: 1% 0;
  padding-left: 0;
  position: relative; }
  #outer_list li {
    list-style: none;
    position: relative;
    background-color: rgba(45, 45, 45, 0.7); }
  #outer_list a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 20px;
    width: 80%; }
  #outer_list p {
    color: #fff;
    padding: 10px 20px 20px 20px;
    margin-bottom: 5px; }
  #outer_list img {
    width: 25px;
    position: absolute;
    right: 15px;
    top: 30px; }

.wireframes {
  text-align: center;
  margin-bottom: 50px; }
  .wireframes h2 {
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em; }
  .wireframes img {
    width: 95%; }

.thumbnails {
  margin-bottom: 50px; }
  .thumbnails h2 {
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em; }

.mockups {
  text-align: center;
  margin-bottom: 50px; }
  .mockups h2 {
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em; }
  .mockups img {
    width: 95%; }

.development {
  text-align: center;
  margin-bottom: 50px; }
  .development h2 {
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 0.2em; }
  .development h3 {
    text-align: left;
    margin-left: 10px;
    font-size: 0.9em;
    text-transform: uppercase; }
  .development p {
    text-align: left;
    margin-left: 10px;
    font-size: 0.9em;
    line-height: 1.5; }
  .development img {
    width: 95%; }

@media screen and (min-width: 630px) {
  header {
    margin-bottom: 15px; }

  .page_headline {
    padding: 5%; }

  .project_intro nav {
    clear: both; }
  .project_intro h3 {
    text-align: center;
    margin-left: 0; }
  .project_intro p {
    text-align: center;
    margin-left: 0; }
  .project_intro ul {
    text-align: center;
    margin-left: 0; }
  .project_intro a {
    width: 35%;
    transition: box-shadow 1s, background-color 1s, color 1s;
    border-radius: 2px; }
    .project_intro a:first-child {
      float: left; }
    .project_intro a:last-child {
      float: right; }
    .project_intro a:hover {
      background-color: rgba(45, 45, 45, 0.7);
      color: #fff;
      border: none;
      box-shadow: 1px 8px 8px rgba(45, 45, 45, 0.3); }

  .scope h3 {
    margin-left: 0; }

  .ux, .ui, .dev {
    float: left;
    width: 33%;
    text-align: center; }

  .wireframes img {
    width: 100%; }
  .wireframes h3 {
    margin-left: 0; }
  .wireframes p {
    margin-left: 0; }

  .thumbnails img {
    width: 100%; }
  .thumbnails h3 {
    margin-left: 0; }
  .thumbnails p {
    margin-left: 0; }

  .mockups img {
    width: 100%; }
  .mockups h3 {
    margin-left: 0; }
  .mockups p {
    margin-left: 0; }

  .development img {
    width: 100%; }
  .development h3 {
    margin-left: 0; }
  .development p {
    margin-left: 0; }

  .html5, .sass, .js_jq {
    float: left;
    width: 32.6%;
    margin-right: 1%; }

  .js_jq {
    margin-right: 0; }

  #outer_list a {
    text-align: left;
    padding-left: 40px;
    transition-property: padding-left;
    transition-duration: .3s;
    width: inherit; }
    #outer_list a:hover {
      padding-left: 50px;
      background-color: #c71d3d; }
  #outer_list img {
    right: 30px;
    top: 25px; } }
.developers a {
  color: #444;
  text-transform: uppercase;
  transition: box-shadow 1s, background-color 1s, color 1s;
  text-decoration: none;
  font-weight: 100;
  padding: 10px 20px;
  display: inline-block;
  margin: 10px 35px;
  border: solid 1px #444; }
  .developers a:hover {
    background-color: rgba(45, 45, 45, 0.7);
    color: #fff;
    border: none;
    box-shadow: 1px 8px 8px rgba(45, 45, 45, 0.3); }
.developers p:nth-child(2) {
  margin-bottom: 0; }
.developers p:nth-child(3) {
  margin: 0 0 30px 0; }

.reach_devs {
  margin-top: 50px; }
  .reach_devs h3 {
    text-align: center; }

#sub_footer ul {
  text-align: center;
  float: unset;
  width: 100%; }
#sub_footer img {
  height: 25px; }

.clearfix:before,
.clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1;
  /* ie 6/7 */ }

/*# sourceMappingURL=style.css.map */
