.thirty_days{
	display: flex;
	flex-wrap: wrap;
	flex: 1;
 
	background-color: #eee;
	margin-bottom: 20px;

	h2{
		margin-bottom: 20px;
		margin-top: 0;
	}

	img{
		width: 90%;
		border-radius: 0;
	}

	h3{
		text-transform: initial;
		padding: 0 12.5%;
	}

	div{
		box-sizing: border-box;
		padding: 20px 0;
		margin-bottom: 0;
	}
}

@media screen and (min-width: 630px){
	.thirty_days{
		div{
			width: 50%;
		}
	}
}


