.thirty_days{
	
	background-color: #eee;
	margin-bottom: 20px;

	h2{
		margin-bottom: 20px;
		margin-top: 0;
	}

	img{
		width: 90%;
		border-radius: 0;
	}

	h3{
		text-transform: initial;
		padding: 0 12.5%;
	}

	div{
		padding: 20px 0;
		width: 50%;
		float: left;
	}
}


