.contact_details{
	padding: 3%;

	h2{
		font-weight: 100;
		text-transform: uppercase;
	}

	h3{
		font-weight: 100;
	}

	ul{
		padding-left: 0;
		text-align: center;
		margin-top: 50px;
	}

	li{
		display: inline-block;
		margin-right: 15px;

		&:last-child{
			margin-right: 0;
		}
	}

	img{
		height: 20px;
	}
}

@media screen and (min-width: 630px){
	.contact_details{
		padding: 0;
	}
}
