.developers{
	a{
		color: #444;
		text-transform: uppercase;
		transition: box-shadow 1s, background-color 1s, color 1s; 
		display: inline-block;
		text-decoration: none;
	    font-weight: 100;
	    padding: 5px 10px;
	    margin-right: 10px;

		&:hover{
			background-color: #c71d3d;
			color: #fff;
			box-shadow: 1px 8px 8px rgba(45,45,45,0.3);

		}

	}
}

#sub_footer{
	ul{
		text-align: center;
		float: unset;
		width: 100%;
	}

	img{
		height: 25px;
	}

}