body{
	font-family: Helvetica, sans-serif;
}

.wrapper{
	margin: 0 auto;
}

.resume{
	width: 100%;
}

header{
	text-transform: uppercase;
	
	h1{
		color: #444;
	    margin: 10px 0;
	    font-size: 2.5em;
	    font-weight: 100;
	    text-align: center;
	}

	a{
		text-decoration: none;
	}

	h2{
		color: #c71d3d;
		margin: 10px 0;
		font-size: 1em;
		font-weight: 100;
		text-align: center;
	}
}

.top_nav{
	text-align: center;
    background-color: #c71d3d;
    padding: 5px 0;
    margin-bottom: 10px;
  
	ul{
		padding: 0;
	    max-width: 310px;
	    margin: 0 auto;
	}

	li{
		list-style: none;
		display: inline-block;

		&:last-child{
			border: none; 

			a{
				margin-right: 0;
				padding-right: 0;
			}
		}
	}

	a{
		display: block;
		text-decoration: none;
	    color: #fff;
	    font-weight: 100;
	    padding: 5px 10px;

	    
	}
}

.content{
    background-color: grey;
    margin: 0 auto 20px auto;
    
    a{
    	display: block;
	    padding-top: 100%;
	    width: 100%;
	    position: relative;
	    overflow: hidden;
	    color: #fff;
	    font-weight: 100;
			
		span{
			display: block;
			background: rgba(0, 52, 99, 0.8);
			padding: 30px;
			position: absolute;
			bottom: 0;
			width: 100%;
		}

    	&:hover{
			
			span{
				bottom: 0;
			}
    	}
    }
}



.intro{
	background-color: #fcfafa;
	padding: 2% 7.5%;

	p{
		color: #444;
	    font-size: 1em;
	   	line-height: 1.5;
	    font-weight: 100;
	}
}

.lower_nav{
	background-color: #f8f2f2;
	font-size: .75em;
	padding: 2% 7.5%;
}

@media screen and (min-width: 630px){
	
	.wrapper{
		max-width: 85%;
	}

	header{
		h1{
		    text-align: left;
		}
		h2{
			text-align: left;
			float: left;
		}
	}

	.top_nav{
		float: right;
		background-color: #fff;
		a{
			color: #c71d3d;
		}
	}

	.content{
		float: left;
		width: 48%;
		margin-right: 4%;
		a{
			span{
				bottom: -100px;
				transition: bottom 0.5s ease;
			}
		}
	}

	.box_2, .box_4, .box_6{
		margin-right: 0;
	}

}

.box_1{
	background-image: url(../img/ipad-mockup.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

@media screen and (min-width: 650px){
	.wrapper{
		max-width: 85%;
	}
}

@media screen and (min-width: 1020px){
	header{
		margin-bottom: 30px;
		h1{
			font-size: 3em;
			margin-bottom: 0;
		}
	}

	.wrapper{
		max-width: 866px;
	}

	.content{
		width: 31.3%;
		margin-right: 3%
	}

	.box_2, .box_4, .box_6{
		margin-right: 3%;
	}

	.box_3, .box_6{
		margin-right: 0
	}

	.intro{
		padding: 2% 10%;
		p{
			width: 45%
		}
	}
	
}










